{% extends "layout.html" %}
{% block content %}
<h1>{{ data.timezone }}</h1>

<div class="now_time">
    <h5>時刻：{{ data.now_time }}</h5>
    <h5>天候：{{ data.now_weather }}</h5>
    <h5>只今の気温: {{ data.now_temperature }}℃</h5>
    <h5>只今の湿度: {{ data.now_humidity }}%</h5>
    <h5>只今の風速: {{ data.now_wind }}m/秒</h5>

    <p>
        <img src="http://openweathermap.org/img/wn/{{ data.now_weather_img }}@2x.png"></img>
    </p>
</div>
  
<div class="hourly">
    <ul>
        {% for i in hourly_weather %}
            {% set hourly_time = i['dt'] %}
            {% set hourly_temperature = i['temp'] %}
            {% set hourly_description = i['weather'][0]['description'] %}
            {% set hourly_of_rain = i['pop'] %}
            {% set hourly_humidity = i['humidity'] %}
            {% set hourly_wind = i['wind_speed'] %}
            {% set hourly_weather_img = i['weather'][0]['icon'] %}
            <li>
                {{ hourly_time | format_hour }}
                気温：{{ hourly_temperature }}℃
                天気：{{ hourly_description }}
                降水確率：{{ hourly_of_rain }} %
                湿度：{{ hourly_humidity }}%
                風速：{{ hourly_wind }}m/秒
                <img src="http://openweathermap.org/img/wn/{{ hourly_weather_img }}@2x.png"></img>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="daily">
    <ul>
        {% for i in daily_weather %}
            {% set daily_date = i['dt'] %}
            {% set daily_temperature = i['temp']['day'] %}
            {% set daily_weather_img = i['weather'][0]['icon'] %}
            <li>
                {{ daily_date | format_date }}
                気温：{{ daily_temperature }}℃
                <img src="http://openweathermap.org/img/wn/{{ daily_weather_img }}@2x.png"></img>
            </li>
        {% endfor %}
    </ul>
</div>

<p>{{ results }}</p>
{% endblock %}